---
layout: default
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Sidebar settings -->
        {% if site.sidebar == false %}
        <!-- No sidebar -->
            <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
            <!-- Sidebar Container sidebar直接另起一行展示 -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container">
                <!-- Featured Tags -->
                <div class="test" style="background-color:red">防守打法的算法士大夫撒</div>
                <!-- Friends Blog -->
                <div class="test" style="background-color:blue">防守打法的算法士大夫撒</div>
            </div>
        {% else %}
        <!-- Use sidebar -->
            <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container">
                {{ content }}
            </div>
            <!-- Sidebar Container sidebar在右侧展示 -->
            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">
                <!-- Featured Tags -->
                <div class="test" style="background-color:red">防守打法的算法士大夫撒</div>
                <!-- Short About -->
                <div class="test" style="background-color:green">防守打法的算法士大夫撒</div>
                <!-- Friends Blog -->
                <div class="test" style="background-color:blue">防守打法的算法士大夫撒</div>
    		</div>
        {% endif %}
    </div>
</div>

<!-- 房志梅 add Mathjax -->